@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome! Here you will find a variety of resources relating to various glass-related
    disciplines, and opportunities!</h1>
</div>